@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
    --black-color: #242333;
    --white-color: #fff;
    --blue-color: #01B0D3;
    --dark-white: #E1D9D1;
    --border-radius: 0.4rem;
    --xl: 153.6rem;
    --lg: 120rem;
    --md: 90rem;
    --sm: 50rem;
    --box-shadow: rgba(1, 176, 211, 0.16) 0px 3px 6px, rgba(1, 176, 211, 0.23) 0px 3px 6px;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}

body,
#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main  {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--blue-color);
}

footer .footer-inner {
    display: flex;
    max-width: var(--xl);
    width: 100%;
    margin: 2rem;
    justify-content: center;
    font-size: 1.8rem;
}

pre {
    display: flex;
    width: 100%;
}

figure {
    width: 100%;
}

figure .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

h1 {
    font-size: 4.3rem;
}

h2 {
    font-size: 3.75rem;
}

h3 {
    font-size: 3rem;
    display: flex;
    align-items: center;
}

h4 {
    font-size: 2.125rem;
}

ul,
ol {
    list-style: none;
}

li {
    font-size: 2.2rem;
    text-decoration: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}

a:visited {
    color: inherit;
}

p {
    font-size: 1.6rem;
    margin: 2rem 0;
    line-height: 2;
}

.icon {
    margin-right: 1rem;
}

article a,
article a:visited,
.homepage a {
    color: var(--blue-color);
    display: inline;
}

.navigation-container {
    background-color: var(--black-color);
    color: var(--white-color);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 20;
}

#main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 6rem;
    margin: 0 2rem;
    max-width: var(--xl);
    width: 100%;
}

#main-navigation ul {
    display: flex;
    gap: 2rem;
}

#main-navigation ul li,
#side-main-navigation ul li {
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

#main-navigation ul li a,
#side-main-navigation ul li a {
    padding: 0.5rem 0;
}

#main-navigation ul li:hover,
#side-main-navigation ul li:hover {
    border-color: var(--blue-color);
}

#main-navigation ul li.active,
#side-main-navigation ul li.active  {
    border-color: var(--blue-color);
}

#side-main-navigation ul li {
    color: var(--dark-white)
}

.outer-container {
    position: fixed;
    top: 9rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: flex-end;
    z-index: 5;
    backdrop-filter: blur(5px);
}

.outer-container.visible {
    display: flex;
}

#side-main-navigation {
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: var(--blue-color);
    max-width: max-content;
    padding: 2rem;
    background-color: var(--black-color);
    z-index: 100;
}

#logo {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

#logo span {
    font-size: 3rem;
    margin-left: 1rem;
}

#burger-button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#sub-navigation nav,
#sub-navigation nav ul {
    display: flex;
}

#sub-navigation {
    position: fixed;
    top: 9rem;
    width: 100%;
    justify-content: center;
    background-color: var(--black-color);
    display: none;
    border-top: 1px solid var(--blue-color);
}

#sub-navigation nav ul {
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

#sub-navigation nav ul li {
    font-size: 1rem;
    cursor: pointer;
    color: var(--dark-white);
    transition: all 0.3s;
}

#sub-navigation nav ul li:hover {
    color: var(--blue-color);
}

#sub-navigation nav ul li span {
    margin-top: 0.5rem;
}

#sub-navigation nav ul li a {
    display: flex;
    flex-direction: column;
    width: unset;
   
    text-align: center;
}

/* Documentation page styling starts here */

#documentation-container {
    display: flex;
    flex: 1;
    max-width: var(--xl);
    column-gap: 2rem;
}

#documentation-container aside {
    width: 100%;
    max-width: 25rem;
    min-width: 12rem;
    position: relative;
}

#documentation-container aside nav {
    position: sticky;
    top: 11rem;
}

#documentation-container aside nav ul {
    display: flex;
    flex-direction: column;
}

#documentation-container aside nav ul li {
    border-bottom: 1px solid gray;
    transition: all 0.3s;
}

#documentation-container aside nav ul li a {
    padding: 2rem 1rem;
    font-size: 1.6rem;
}

#documentation-container aside nav ul li:hover {
    color: var(--blue-color);
}

#documentation-container aside nav ul li a span {
    margin-left: 1rem;
}

#documentation-container .content-container {
    display: flex;
    flex-direction: column;
}

#documentation-container .content-container .main-section {
    scroll-margin-top: 11rem;
    margin-bottom: 2rem;
}

[id^="Pros"] .comparison-container {
    display: flex;
    gap: 2rem;
}

[id^="Pros"] .comparison-container .pros-container,
[id^="Pros"] .comparison-container .cons-container {
    background-color: var(--dark-white);
    border-radius: var(--border-radius);
    padding: 2rem;
    flex: 1;
}

#Features article .cards-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

#Features article .cards-container .card {
    border: 1px solid rgba(1, 176, 211, 0.25);
    border-radius: var(--border-radius);
    width: 23.5%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 2rem;
    box-shadow: var(--box-shadow);
}

#Features article .cards-container .card svg {
    color: var(--blue-color);
}

#Features article .cards-container .card h3 {
    font-size: 1.8rem;
    text-align: center;
    font-style: italic;
}

#Setup article p code,
#Usage article p code,
.homepage code {
    border: 1px solid lightgray;
    padding: 0 0.5rem;
    border-radius: var(--border-radius);
    font-style: italic;
    background-color: var(--dark-white);
    color: inherit;
    font-size: inherit;
}

#Setup article pre,
#Usage article pre {
    background-color: var(--black-color);
    color: var(--dark-white);
    font-size: 1.8rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
}



/* Media queries */

@media screen and (max-width: 90rem) {
    #Features article .cards-container .card {
        width: 31%;
        height: 20rem;
    }
}

@media screen and (max-width: 50rem) {
    #Features article .cards-container .card {
        width: 48%;
        height: 20rem;
        padding: 4rem 1rem;
    }
}

@media screen and (max-width: 52rem) {

    #documentation-container .content-container .main-section {
        scroll-margin-top: 17rem;
    }

    #documentation-container {
        padding-top: 9rem;
    }

    #documentation-container aside {
        display: none;
    }

    #sub-navigation {
        display: flex;
    }
}



@media screen and (max-width: 60rem) {

    #burger-button {
        display: unset;
    }

    #main-navigation ul {
        display: none;
    }

    #logo span {
        font-size: 2rem;
    }

    #documentation-container aside nav ul li a {
        padding: 1rem;
        flex-direction: column;
    }

    #documentation-container aside nav ul li a span {
        margin-left: unset;
        margin-top: 0.5rem;
    }

    #Setup article pre,
    #Usage article pre {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 80rem) {
    [id^="Pros"] .comparison-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 35rem) {
    #Features article .cards-container .card {
        width: 100%;
        height: 20rem;
    }

    #Setup article pre,
    #Usage article pre {
        font-size: 1.1rem;
    }
}