:root {
    --black-color: #242333;
    --white-color: #fff;
    --blue-color: #01B0D3;
    --border-radius: 0.4rem;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body, #__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main, footer {
    padding: 2rem;
    display: flex;
}

main {
    flex: 1;
}

footer {
    align-items: center;
    justify-content: center;
}

ul,
ol {
    list-style: none;
}

li {
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
}

a:visited {
    color: inherit;
}

p {
    font-size: 1.6rem;
}

.navigation-container {
    background-color: var(--black-color);
    color: var(--white-color);
    position: sticky;
    top: 0;
}

#main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 6rem;
    padding: 0 2rem;
}

#main-navigation ul {
    display: flex;
    gap: 2rem;
}

#main-navigation ul li {
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

#main-navigation ul li a {
    padding: 0.5rem 0;
}

#main-navigation ul li:hover {
    border-color: var(--blue-color);
}

#main-navigation ul li.active {
    border-color: var(--blue-color);
}

#logo {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

#logo span {
    font-size: 3rem;
    margin-left: 1rem;
}

#burger-button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#documentation-container {
    display: flex;
    flex: 1;
    gap: 2rem;
}

#documentation-container aside {
    width: 100%;
    max-width: 20rem;
}

#documentation-container aside nav ul {
    display: flex;
    flex-direction: column;
}

#documentation-container aside nav ul li {
    border-bottom: 1px solid gray;
    transition: all 0.3s;
}

#documentation-container aside nav ul li a {
    padding: 2rem 1rem;
}

#documentation-container aside nav ul li:hover {
    color: var(--blue-color);
}

#documentation-container aside nav ul li a span {
    margin-left: 1rem;
}

#documentation-container .content-container {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 50rem) {
    #burger-button {
        display: unset;
    }

    #main-navigation ul {
        display: none;
    }

    #logo span {
        font-size: 2rem;
    }

    #documentation-container aside {
        width: auto;
    }

    #documentation-container aside nav ul li a {
        padding: 1rem;
        flex-direction: column;
    }

    #documentation-container aside nav ul li a span {
        font-size: 1.2rem;
        margin-left: unset;
        margin-top: 0.5rem;
    }
}